<div class="landing">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>"We're not all good, and we're not all bad. We're very human. And we love each other."<br>
    &#8212; Nana &#8212;</h1>
  </div>
</div>

<div class="flex page-canvas">
  <% if @stories.any? %>
    <% @stories.each do |story|%>
      <div class="col-sm-3 story">
        <% if story.image.exists? %>
          <%= image_tag(story.image)%>
          <% else %>
          <%= image_tag(random_flower)%>
        <% end %>
        <p><em><%= story.date %></em></p>
        <h3><%= story.title %></h3>
        <p class="intro">
          <%= story.details %>
        </p>
        <p>
          <%= link_to "Read more...", story_path(:id => story.id) %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
