<!DOCTYPE html>
<html>
  <head>
    <title>Nana Told Me</title>
    <%= csrf_meta_tags %>
    <script src="https://use.typekit.net/mtv5tjm.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Remembering Nana</a>
      </div>
      <ul class="nav navbar-nav">

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if flash[:notice] %>
          <li><div class="flash"><%= flash[:notice] %></div></li>
        <% end %>
        <% if flash[:alert] %>
          <li><div class="flash"><%= flash[:alert] %></div></li>
        <% end %>
        <% if user_signed_in? %>

          <% if current_user.admin %>
            <li><%= link_to "Hear a Story", galleries_path %></li>
            <li><%= link_to "Share a Story", new_story_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Hear a Story", galleries_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>
